[connectivity]
nk=pageRankHS:1:pageRankHS_1
nk=ReadSingle_Basic_64_32:1:ReadSingle_Basic_64_32_1
nk=ReadSingle_Basic_64_64:1:ReadSingle_Basic_64_64_1
nk=ReadStreamWSplitter_Basic_64_32:1:ReadStream_64_32_1
nk=WriteSingle_Basic_64_32:1:WriteSingle_Basic_64_32_1

# Kernel-to-kernel AXI connections using connect directive
sp=pageRankHS_1.m_axi_00:MC_NOC0
sp=pageRankHS_1.m_axi_01:MC_NOC0
sp=pageRankHS_1.m_axi_02:MC_NOC0
sp=pageRankHS_1.m_axi_03:MC_NOC0
sp=pageRankHS_1.m_axi_04:MC_NOC0
sp=pageRankHS_1.m_axi_05:MC_NOC0
sp=ReadSingle_Basic_64_32_1.m_axi:MC_NOC0
sp=ReadSingle_Basic_64_64_1.m_axi:MC_NOC0
sp=ReadStream_64_32_1.m_axi:MC_NOC0
sp=WriteSingle_Basic_64_32_1.m_axi:MC_NOC0

# HardCilk AIE kernel connections
sc=pageRankHS_1.BindTo_PE_vertex_map_0_taskIn:ai_engine_0.PLIO_readvertex_taskIn
sc=ai_engine_0.PLIO_process_taskOutGlobal:pageRankHS_1.BindTo_PE_vertex_map_0_taskOutGlobal
sc=pageRankHS_1.BindTo_PE_pageRankReduce_0_taskIn:ai_engine_0.PLIO_pagerank_taskIn
sc=ai_engine_0.PLIO_pagerank_argOut:pageRankHS_1.BindTo_PE_pageRankReduce_0_argOut
sc=ai_engine_0.PLIO_pagerank_taskOutGlobal:pageRankHS_1.BindTo_PE_pageRankReduce_0_taskOutGlobal

# AIE Read/Write kernel connections
sc=ai_engine_0.PLIO_readvertex_readSingle64Out:ReadSingle_Basic_64_64_1.sourceTask
sc=ReadSingle_Basic_64_64_1.sinkResult:ai_engine_0.PLIO_readneighborids_readSingle64In

sc=ai_engine_0.PLIO_readneighborids_readStream32Out:ReadStream_64_32_1.sourceTask
sc=ReadStream_64_32_1.sinkResult:ai_engine_0.PLIO_readneighbors_readStream32In

sc=ai_engine_0.PLIO_readneighbors_readSingle32Out:ReadSingle_Basic_64_32_1.sourceTask
sc=ReadSingle_Basic_64_32_1.sinkResult:ai_engine_0.PLIO_process_readSingle32In

sc=ai_engine_0.PLIO_process_writeSingle32Out:WriteSingle_Basic_64_32_1.sourceTask