[connectivity]
nk=fibonacci:1:fibonacci_1
nk=StreamSplitter_64_512:1:StreamSplitter_64_512_1
nk=StreamSplitter_256_256:1:StreamSplitter_256_256_1


sp=fibonacci_1.m_axi_00:MC_NOC0
sp=fibonacci_1.m_axi_01:MC_NOC0
sp=fibonacci_1.m_axi_02:MC_NOC0
sp=fibonacci_1.m_axi_03:MC_NOC0
sp=fibonacci_1.m_axi_04:MC_NOC0
sp=fibonacci_1.m_axi_05:MC_NOC0
sp=fibonacci_1.m_axi_06:MC_NOC0
sp=fibonacci_1.m_axi_07:MC_NOC0
sp=fibonacci_1.m_axi_08:MC_NOC0

# Fib Task In
sc=fibonacci_1.BindTo_PE_fib_0_taskIn:ai_engine_0.PLIO_fib_taskIn

# Fib Task Out Arg Data Out
sc=ai_engine_0.PLIO_fib_taskOut_argDataOut:StreamSplitter_256_256_1.input
sc=StreamSplitter_256_256_1.outputs_0:fibonacci_1.BindTo_PE_fib_0_taskOut
sc=StreamSplitter_256_256_1.outputs_1:fibonacci_1.BindTo_PE_fib_0_argDataOut

# Fib Closure In
sc=fibonacci_1.BindTo_PE_fib_0_closureIn:ai_engine_0.PLIO_fib_closureIn

# Fib Arg Out Spawn Next
sc=ai_engine_0.PLIO_fib_argOut_SpawnNext:StreamSplitter_64_512_1.input
sc=StreamSplitter_64_512_1.outputs_0:fibonacci_1.BindTo_PE_fib_0_argOut
sc=StreamSplitter_64_512_1.outputs_1:fibonacci_1.BindTo_PE_fib_0_spawnNext

# Fib Cont0 Task In
sc=fibonacci_1.BindTo_PE_fib_cont0_0_taskIn:ai_engine_0.PLIO_fib_cont0_taskIn

# Fib Cont0 Arg Data Out
sc=ai_engine_0.PLIO_fib_cont0_argDataOut:fibonacci_1.BindTo_PE_fib_cont0_0_argDataOut

# Fib Cont0 Arg Out
sc=ai_engine_0.PLIO_fib_cont0_argOut:fibonacci_1.BindTo_PE_fib_cont0_0_argOut